* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

section {
  display: flex;
  min-height: 78vh;
  background-color: rgb(245, 244, 244);
  justify-content: space-around;
  align-items: center;
}

main {
  margin-bottom: 12rem;
}

main > h1 {
  color: #3b67f6;
  font-size: 3.7rem;
  margin-bottom: 0.6rem;
}

main > p {
  font-size: 1.5rem;
  width: 30ch;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  width: 40%;
  border: 1px solid;
  padding: 1rem;
  align-items: center;
  margin-right: 0.7rem;
  margin-bottom: 8rem;
  border: none;
  background-color: white;
  box-shadow: 2px 2px 10px #aaaaaa;
  border-radius: 0.5rem;
}

.eye-icon {
  position: absolute;
  left: 38%;
  top: 32%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: none;
}

form input,
form button {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.4rem;
}

input {
  border: 1px solid #d1d1d1;
  font-size: 1rem;
  caret-color: #3b67f6;
}

input:focus {
  outline: none;
  border: 1px solid #3b67f6;
}

input::placeholder {
  opacity: 0.6;
  color: rgba(77, 77, 77, 0.9);
  font-size: 1rem;
}

form > p {
  font-size: 0.8rem;
}

form p a {
  color: #2558ff;
  text-decoration: none;
  font-size: 1.1em;
}

form p a:hover {
  text-decoration: underline;
}

hr {
  width: 100%;
  margin: 1rem 0;
}

button[type="submit"] {
  border: none;
  color: #fff;
  background-color: #2558ff;
  font-size: 1rem;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #3582e7;
  transition: 0.5s ease;
}

.create {
  width: 55%;
  background-color: #0fb11f;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.7rem;
}

.create:hover {
  background-color: #209a33;
  transition: 0.5s ease;
}

.create-page {
  margin-top: -4rem;
}

.create-page > a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.create-page > a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 100px) {
  section {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  main {
    text-align: center;
    margin: -4rem auto -4rem;
  }

  form {
    width: 400px;
    margin: 0 auto;
  }

  .first {
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    gap: 0.6rem;
    font-size: 0.8rem;
    color: rgba(128, 128, 128, 0.858);
    margin: 0 auto;
  }

  .second {
    display: flex;
    justify-content: flex-start;
    gap: 0.6rem;
    color: rgba(128, 128, 128, 0.858);
    font-size: 0.8rem;
    padding-left: 4rem;
    margin-top: -1.9rem;
  }

  .plus {
    position: relative;
    bottom: 0.2rem;
    border: 1px solid;
    padding: 0 0.4rem;
    border-radius: 0.2rem;
    background-color: rgb(237, 236, 236);
  }

  .plus:hover {
    background-color: rgb(224, 224, 224);
  }

  .footer-hr {
    position: absolute;
    bottom: 12%;
    width: 80%;
    margin-left: 3rem;
  }

  .third {
    color: rgba(128, 128, 128, 0.858);
    font-size: 0.8rem;
    word-spacing: 10px;
    line-height: 20px;
    margin: 1rem auto 1rem;
    width: 80%;
  }

  .fourth {
    color: rgba(1, 1, 1, 0.858);
    font-size: 0.7rem;
    margin: 2rem 3rem 1rem;
  }
}
